.table{
    text-align: center;
    width: 100%;
}

.contextModal{
    display: flex;
    flex-direction: column;    
    background-color: #424242;
    width: 100%;
    color: #fff;
    
}

.tituloModal{
    display: flex;
    justify-content: left;
    border: 5px;
}

.bodymodal{
    display: flex;
    flex-direction: column;    
    justify-content: left;
    margin: 32px;
    border: 5px;
}