.container a{
    text-decoration: none;
    background-color: beige;
    color: #000000;
    padding: 10px;
    margin-top: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.container a:hover{
    background-color: rgb(37, 26, 166);
    color: #FFF;
  }

.respostasQuestoes{
    display: flex;
    flex-direction: column;
    margin: 32px;
}

.respostasQuestoes li{
    margin: 16px;
}