.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.formulario h3{
    margin-bottom: 10px;
}

.formulario input{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

.botao{
    background-color: #116feb;
}